<AuthorizeView>
    <Authorized>
        <a class="btn btn-outline-primary" href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="m-2 btn btn-outline-primary" href="Identity/Account/Register">Register</a>
        <a class="m-2 btn btn-outline-primary" href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
