@inherits LayoutComponentBase

<PageTitle>BEC.Web.Back</PageTitle>

<HeaderComponent></HeaderComponent>
<div class="container-fluid">
    <div class="row">
        <SidebarMenu></SidebarMenu>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            @Body
        </main>
    </div>
</div>


