
<header class="navbar navbar-expand-md navbar-dark fixed-top site-header py-1 ">

    <div class="container d-flex justify-content-end align-items-center">
        <a class="navbar-brand" href="#">Grocery Managment Website</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex align-items-center justify-content-between">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <NavLink class="py-2 d-none d-md-inline-block" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
                <NavLink class="p-2 d-none d-md-inline-block" href="counter">
                    Counter
                </NavLink>
                <NavLink class="p-2 d-none d-md-inline-block" href="fetchdata">
                    Fetch data
                </NavLink>
            </ul>
            <LoginDisplay />
        </div>

    </div>    
</header>


@code { }
