<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
	<div class="position-sticky pt-3 sidebar-sticky">
		<ul class="nav flex-column">
			<li class="nav-item">
				<NavLink class="nav-link active" href="" Match="NavLinkMatch.All">
					Home
				</NavLink>
			</li>
			<li class="nav-item">
				<NavLink class="nav-link" href="categories">
					Categories
				</NavLink>
			</li>
			<li class="nav-item">
				<NavLink class="nav-link" href="counter">
					Counter
				</NavLink>
			</li>
			<li class="nav-item">
				<NavLink class="nav-link" href="fetchdata">
					Fetch data
				</NavLink>
			</li>
		</ul>
	</div>
</nav>

